.App {
    text-align: center;
    /*margin-left: -10px;*/
    margin-top: -5px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    width: 60vmin;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        width: 500px;
        height: 300px
    }

    .App-logo-school {
        width: 500px;
        height: 300px;
    }
}

.App-header {
    background-color: #E7E9EF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.flex_row {
    display: flex !important;
    flex-direction: row !important;
    flex: 1;
    margin-right:10px;
    width:100%;
}
.flex_row1 {
    display: flex !important;
    flex-direction: row !important;
    flex: 2;
    margin-left: 300px;
}
.shake {
    animation: shake 5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.card2 {
    margin-top: 100px;
    margin-left: 100px;
    font-family: "Apple Braille";
    font-size: 60px;
    color: #252424;
    font-style: italic;
}

.card3 {
    margin-top: 100px;
    width: 70%;
    font-family: "Apple Braille";
    font-size: 30px;
    color: #252424;
    font-style: italic;
    position: relative;
}

.card4 {
    margin-right: 0px;
    margin-left: 100px;
}

.shake4 {
    animation: shake4 5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    text-align: right;

}

@keyframes shake4 {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.box {
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    color: #252424;
    opacity: 0.3;
}

.intro {
    font-family: "Apple Braille";
    font-size: 30px;
    color: #252424;
}

.App-link {
    color: #61dafb;
}

.box-content {
    background: #33a579;
    margin-top: 20px;
    color: #252424;
    font-size: 3vmin;
    font-weight: 700;
    border-radius: 1vmin;
    cursor: default;
}

/*content-动态样式*/
.box-content-color {
    color: gold;
}

.show_box {
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    color: #252424;
}

.box_static {
    width: 300px;
    height: 180px;
    opacity: 0.2;
}

.card_box {
    width: 300px;
    height: 180px;
    animation: card_box 0.5s;
}

@keyframes card_box {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(180deg);
    }
}

.img {
    opacity: 0;
}

.card {
    color: #252424;
    margin-top: 60px;
    margin-left: 10px;
    font-size: 10px;
}

.passage {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    ustify-content: flex-end;
    height: 50px;
    color: #252424;
    text-align: justify;
    margin: 40px auto;
}

.hidden {
    opacity: 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    ustify-content: flex-end;
    color: #252424;
    text-align: justify;
    margin: 40px auto;
    height: 50px
}

.card_box_com {
    width: 210px;
    height: 180px;
    animation: card_box_com 2s;
}

@keyframes card_box_com {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card_box_com_hidden {
    width: 210px;
    height: 180px;
    margin-left: 180px;
    opacity: 0;
}

* {
    margin: 0;
    padding: 0;
}

#chart-container {
    height: 100vh;
    overflow: hidden;
    width: 100vh;
    margin-left: -350px;
}

.hidden_word_show {
    margin-top: 50px;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    color: #252424;
    opacity: 1;
}

.hidden_word {
    margin-top: 50px;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    color: #252424;
    opacity: 0;
}

.digit {
    opacity: 0;
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    color:#252424;
    margin-left: 400px;
    margin-top:80px
}
.digit.visible {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    color:#252424;
}
.digit:nth-child(2) {
    margin-top: 50px;
}
.digit:nth-child(3) {
    margin-top: 100px;
}
.digit:nth-child(4) {
    margin-top: 150px;
}
.digit:nth-child(5) {
    margin-top: 200px;
}
.panel {
    height: 100%;
    width: 100%;
}
.panel.green {
    margin-bottom: 400px;
    background-color: green
}
.panel.blue {
    margin-bottom: 400px;
    background-color: blue;
}
.panel.turqoise {
    margin-bottom: 400px;
    background-color: rebeccapurple;
}


.card {
    font-size: 164px;
    width: 350px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
    transform-origin: 10% 60%;
}

.card5 {
    font-size: 164px;
    margin-top: 20px;
    width: 600px;
    height: 860px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
    transform-origin: 10% 60%;
    margin-left: 420px;
}

.card1 {
    font-size: 164px;
    width: 1200px;
    height: 100px;
    background: white;
    color:black;
    border-radius: 20px;
    box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
    transform-origin: 10% 60%;
    margin-top: 10px;
}

.card0 {
    font-size: 164px;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: start;
    justify-content: start;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
    transform-origin: 10% 60%;
}

.card_pic {
    font-size: 164px;
    width: 300px;
    height: 250px;
    display: flex;
    margin:10px;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
    transform-origin: 10% 60%;
}
.card-container {
    /*overflow: hidden;*/
    position: relative;
    padding-top: 20px;
    margin-bottom: -120px;
    margin-left: -200px;
    margin-top: -800px;
    height:200px
}

.splash {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    clip-path: circle(10%);
    background-color: beige;
}
.code {
    font-family: input-mono, monospace;
    font-weight: 400;
    font-style: normal;
}
